<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

  <head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ site.Params.author }}">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <!-- TODO this is not working, need to debug -->
    {{ with .Resources.Get "css/main.css" }}
    <link rel="stylesheet" type="text/css" href="{{ .Permalink }}"/>
    {{ end}}
  </head>

  <body>
    <div class="site">
      <div id="content">
	{{ .Content }}
      </div>

      <footer>
        <p>
          © {{ time.Now | time.Format "2006" }} {{ .Site.Params.author }}, license <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a> unless otherwise noted.
        </p>
        <div class="rc-scout"></div>
      </footer>
    </div>
    <script src="https://www.recurse-scout.com/loader.js?t=9ecdc2995d5539483a7b5ed39e4d750f"></script>
  </body>
</html>
