@import url(reset.css);
@import url(pygments.css);

/* Many of these styles are cribbed from David Nolen
   (https://swannodette.github.io/assets/themes/tom/css/screen.css) */

body {
  text-align: center;
  line-height: 1.4em;
  width: 80%;
  margin: 0 auto;
}

.site {
  max-width: 700px;
  text-align: left;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site header {
  padding-top: 3rem;
}

.site header a {
  margin-right: 10px;
  text-decoration: none;
  color: grey;
  font-size: 1.2em;
}

.site header a:hover {
  color: green;
}

#content {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  flex: 1 0 auto
}

#content #postlist  {
  line-height: 1em;
  margin-bottom: 0px;
}

.post {
  margin-bottom: 1em;
}

.article h1 {
  font-size: 1.3em;
  margin-top: 1em;
}

.article h2 {
  font-size: 1.2em;
  margin-top: 1em;
}

.article h3 {
  font-size: 1.1em;
  margin-top: 1em;
}

.article h4 {
  font-size: 1em;
  margin-top: 1em;
}

video {
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  /* HACK REMOVE THIS LATER */
  /* min-height: 478px; */
  /* height: 478px; */
}

.post h3 {
  font-weight: normal;
}

.postinfo {
  font-family: arial; sans;
  font-size: 0.7em;
  color: gray;
}

.posttitle {
  font-size: 1.5em;
  margin-top: 1em;
}

.article p {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: justify;
}

.article pre {
  font-family: 'Inconsolata', monospace;
  line-height: 1em;
  background-color: #fafafa;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 20px;
  margin: 15px 0;
  box-shadow: 0px 0px 1px 1px rgba(100, 100, 100, 0.2);
  overflow-x: auto;
  max-width: 150%;
}

.article blockquote {
  font-size: 0.9em;
  font-style: italic;
  border-left: 3px solid #ccc;
  margin-left: 30px;
  padding-left: 10px;
}

:where(.article img, .article video) {
  display: block;
  max-width: 586px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.article ul, .article ol {
  margin-top: 0.75em;
  margin-left: 1.35em;
}

sup, sub {
  vertical-align: 0;
  position: relative;
  font-size: 0.6em;
}

sup {
  bottom: 1ex;
}

sub {
  top: 1ex;
}

footer {
  border-top: 1px solid #bbb;
  font-size: 0.7em;
  color: grey;
  flex: none;
  padding-bottom: 1rem
}
