@import url(reset.css);
@import url(pygments.css);


.site {
    width: 600px;
    text-align: justify;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

.article p {
    margin-top: 1em;
}

.article pre {
    font-family: 'Inconsolata', monospace;
    font-size: 0.8em;
    line-height: 1em;
    margin-top: 1em;
}
