@import url(pygments.css);

html
{
    min-height:100%;
    position:relative;
}

body
{
    -webkit-font-smoothing:antialiased;
    background-color:#fafafa;
    font-family:'Open Sans';
    margin:2em 0 60px 2em;
    padding:1em;
    width:740px;
}

.profile
{
    float:left;
}

.sitesubtitle
{
    color:#000;
    font-size:1em;
    margin-bottom:0;
    position:relative;
    top:-.5em;
}

a
{
    color:#2E2E2E;
    text-decoration:underline;
}

.sitetitle a
{
    position: relative;
    bottom: 15px;
    left: 30px;
    color:#000;
    font-family:'Libre Baskerville';
    font-size:2em;
    text-decoration:none;
    width:600px;
}

.entry-title a
{
    color:#000;
    text-decoration:none;
}

.entry-content a
{
    color:#4A4740;
}

nav a
{
    text-decoration:none;
}

a:hover
{
    -o-transition:.2s;
    -webkit-transition:.2s;
    color:orange;
    -moz-transition:.2s;
    transition:.2s;
}

pre
{
    border:1px solid grey;
    border-radius:5px;
    font-family:'Source Code Pro';
    font-size:.85em;
    margin:2em 1em 2em 0;
    padding:1em;
}

code
{
    font-family:'Source Code Pro';
    font-size:.85em;
}

nav
{
    font-size:1.3em;
    padding-bottom:1em;
    text-align:left;
}

ul,ol
{
    margin:0;
    padding:0;
}

nav li
{
    display:inline-block;
    margin-right:10px;
}

.post-info
{
    border-top:50px;
    color:#666;
    font-size:.7em;
    padding-bottom:5px;
}

.entry-title
{
    margin:30px 0 0;
}

footer#contentinfo
{
    bottom:0;
    color:grey;
    font-size:.7em;
    height:60px;
    position:absolute;
    width:1000px;
}