@import url("pygments.css");

/* Large scale stuff. */

html {
    position: relative;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family : 'Open Sans';
    font-size : 100% ;
    background-color : rgb(250,250,250) ;
    padding : 1em ;
    margin :  2em 0 60px 2em;
    width: 740px;
}

/* Profile picture. */

.profile {
    float: left;
}

/* Titles. */

.sitesubtitle {
    position: relative;
    top: -0.5em;
    color: black;
    font-size: 1em;
    margin-bottom: 0;
}

/* Links. */

a {
    color : #2E2E2E ;
    text-decoration: underline;
}

.sitetitle a {
    width: 600px;
    font-size: 2em;
    padding-left: 20px;
    color: black;
    font-family: 'Libre Baskerville';
    text-decoration: none;
}

.entry-title a {
    color: black;
    text-decoration: none;
}

.entry-content a {
    color: #4A4740;
}

nav a {
    text-decoration: none;
}

a:hover {
    color : orange; !important
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

/* Code stuff. */

pre {
    font-family: 'Source Code Pro';
    font-size: 0.85em;
    margin : 2em 1em 2em 0em ;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1em 1em 1em 1em;
}

code {
    font-family: 'Source Code Pro';
    font-size: 0.85em;
}

/* Nav. */

nav {
    text-align: left;
    font-size: 1.3em;
    padding-bottom: 1em;
}

ul, ol {
    padding: 0;
    margin: 0;
}

nav li {
    display : inline-block ;
    margin-right: 10px;
}

/* Mainpage  */

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
}

.post-info {
    border-top: 50px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #666666;
}

/* Actual post stuff. */

.entry-title {
    margin: 0px;
    margin-top: 30px;
}

.entry-content {
    max-width: 700px;
}

/* Footer. */

footer#contentinfo {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 1000px;
    font-size: 0.7em;
    color: grey;
}
